body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.todo-container{
    max-width: 500px;
    margin: 40px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4 px wheat;
}


.todo-container h1{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

input{
    width: 500px;
    padding: 20px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    color: #c82ac8;
    border-color: #0066ff; 

}
.todo-list{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background: #fbfbfb;
    border-radius: 4px;
}
.todo-item:hover{
    background: #fefefe;
}
.delete-button {
    visibility: hidden;
    border:none;
    background: none;
    cursor: pointer;
    color: #ff4343;
    padding:5px;
}

.todo-item:hover .delete-button{
    visibility: visible;
}
.delete.delete-button:hover{
    color:#ff4343
}
.empty-messege{
    color: #c82ac8;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}
